<app-navbar [title]="'Librería'"> </app-navbar>

<div fadeInOutAnimation class="container">
  <h2 class="w-100">Librería</h2>
  <p class="w-100">
    Nuestra querida libreria de componentes, con la cual podemos usar
    componentes enfocados a una funcion y asi tener un trabajo estandarizado y
    estructurado.
  </p>
  <div class="flex">
    <div class="column">
      <h4>Relacionados con formularios</h4>
      <ul style="list-style: disc inside">
        <li class="hglg">minsait-field</li>
        <li class="hglg">minsait-field-error</li>
        <li class="hglg">minsait-checkbox</li>
        <li class="hglg">minsait-checkbox-group</li>
        <li class="hglg">minsait-radio</li>
        <li class="hglg">minsait-radio-group</li>
        <li class="hglg">minsait-datalist</li>
        <li class="hglg">minsait-option</li>
        <li class="hglg">minsait-datepicker</li>
        <li class="hglg">minsait-file</li>
      </ul>
    </div>
    <div class="column">
      <h4 class="text-center">Adicionales</h4>
      <ul style="list-style: disc inside">
        <li class="hglg">mn-table</li>
        <li class="hglg">minsait-panel</li>
        <li class="hglg">minsait-messages</li>
        <li class="hglg">minsait-notification</li>
        <li class="hglg">ms-input (directiva)</li>
        <li class="hglg">ms-textarea (directiva)</li>
        <li class="hglg">ms-select (directiva)</li>
      </ul>
    </div>
  </div>

  <div class="info">
    <span>
      Las directivas son modificaciones directas a un elemento HTML para
      cambiarle el aspecto, un funcionamiento o declararlo como una plantilla.
      Por ejemplo, que maneje los eventos de entrar y salir sobre un botón
      simplemente añadiendo una directiva.<br />
      Revisar para ver un ejemplo <b>fade-in-out-animation.directive.ts</b> o
      propio <b>dunweb</b>
    </span>
  </div>

  <h4 class="mt-3">Todos los componentes</h4>
  <div class="chips-container">
    <span *ngFor="let chip of chips()" class="chip">{{ chip }}</span>
  </div>

  <h3 class="mt-3">Samples de componentes</h3>
  <minsait-panel
    class="bg-white text-dark"
    [title]="'minsait-datalist y minsait-option'"
    [isOpen]="false"
  >
    <form [formGroup]="form">
      <minsait-field [label]="'datalist 1'">
        <minsait-datalist
          formControlName="prueba"
          (selected)="optionSeleccionada($event)"
        >
          <minsait-option *ngFor="let chip of chips()" [value]="chip">
            {{ chip }}
          </minsait-option>
        </minsait-datalist>
      </minsait-field>

      <minsait-field [label]="'datalist 2'">
        <minsait-datalist
          formControlName="pruebaDos"
          (selected)="optionSeleccionada($event)"
        >
          <minsait-option *ngFor="let chip of chips()" [value]="chip">
            {{ chip }}
          </minsait-option>
        </minsait-datalist>
      </minsait-field>
    </form>
    <p class="hglg-out">{{ "Se ha seleccionado: " + option() }}</p>
  </minsait-panel>

  <minsait-panel
    class="bg-white text-dark"
    [title]="'minsait-button'"
    [isOpen]="false"
  >
    <div class="flex gap-2">
      <minsait-button [type]="'submit'" [disabled]="false">
        Haz click!
      </minsait-button>

      <minsait-button [type]="'submit'" [disabled]="false">
        Habilitado
      </minsait-button>

      <minsait-button [type]="'submit'" [disabled]="true">
        Estoy deshabilitado
      </minsait-button>

      <minsait-button>
        <img
          class="img-button"
          src="https://as2.ftcdn.net/v2/jpg/00/72/75/79/1000_F_72757953_CzkNyWKDinutYVOop5mYHyRSarV55ZM8.jpg"
          alt="Snow"
        />Con una imagen
      </minsait-button>

      <minsait-button class="rainbow">Propio estilo</minsait-button>
    </div>
  </minsait-panel>

  <minsait-panel
    class="bg-white text-dark"
    [title]="'minsait-datapicker'"
    [isOpen]="false"
  >
    <minsait-field>
      <minsait-datepicker></minsait-datepicker>
    </minsait-field>
  </minsait-panel>

  <minsait-panel
    class="bg-white text-dark"
    [title]="'minsait-panel'"
    [isOpen]="false"
  >
    <minsait-panel [isOpen]="true" [title]="'panel hijo 1'">
      <p>Lorem ipsum dolor sit amet.</p>
      <minsait-panel [isOpen]="true" [title]="'panel nieto 2'">
        <p>Lorem ipsum dolor sit amet.</p>
      </minsait-panel>
    </minsait-panel>

    <minsait-panel [isOpen]="true" [title]="'panel hijo 1'">
      <p>Lorem ipsum dolor sit amet.</p>
      <minsait-panel [isOpen]="true" [title]="'panel nieto 2'">
        <p>Lorem ipsum dolor sit amet.</p>
        <minsait-panel [isOpen]="true" [title]="'panel bis nieto 3'">
          <p>Lorem ipsum dolor sit amet.</p>
        </minsait-panel>
      </minsait-panel>
    </minsait-panel>
  </minsait-panel>

  <minsait-panel
    class="bg-white text-dark"
    [title]="'minsait-file'"
    [isOpen]="false"
  >
    <minsait-field [label]="'mete tu archivo y subelo!'">
      <minsait-file></minsait-file>
    </minsait-field>

    <minsait-field [label]="'Se puede capar para que solo acepte imagenes 😊'">
      <minsait-file [accept]="'.jpg'"></minsait-file>
    </minsait-field>
  </minsait-panel>
</div>
