<app-navbar 
    [title]="'Librería'" >
</app-navbar>

<div class="container">
    <h2 class="w-100">Libreria</h2>
    <p class="w-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, nihil. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere rerum perferendis ipsa doloremque inventore est adipisci dignissimos aspernatur quia dolorum!</p>
    
    <div class="flex">
        <ul style="list-style: disc;">
            <li>Lorem, ipsum dolor.</li>
            <li>Expedita, impedit quibusdam?</li>
            <li>Iste, saepe exercitationem.</li>
          </ul>
    </div>
  
</div>

