
<div class="container">
    <h1 class="text-center">¡Bienvenido a la formación de Angular!</h1>
    <p class="text-center">Aqui tenemos los distintos apartados que iremos creando:</p>
    <div class="grid-container">
      <button class="grid-item red-item" routerLink="/signals">Signals</button>
      <button class="grid-item blue-item" disabled>RxJS</button>
      <button class="grid-item green-item" routerLink="/libreria">Libreria de minsait</button>
      <button class="grid-item yellow-item" routerLink="/grids">Grids</button>
      <button class="grid-item orange-item" disabled>Formularios</button>
      <button class="grid-item purple-item" disabled>Tipados</button>
    </div>
</div>
  